body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1, h2 {
  color: #1d3557;
}

ul {
  list-style: none;
  padding: 0;
}

button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
